@model Tsql3s2a.Models.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Lista proizvoda";
}

<h2 class="text-center mt-4">Lista proizvoda</h2>

<div class="container mt-3">
    <form asp-action="Index" method="get" class="mb-4 d-flex">
        <input type="text" name="searchTerm" placeholder="Pretrazi po nazivu" class="form-control me-2" value="@Model.SearchTerm"/>
        <button type="submit" class="btn btn-success">Pretrazi</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Dobavljac</th>
                <th>Cena</th>
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.Products){
                <tr>
                    <td>@p.Productid</td>
                    <td>@p.Productname</td>
                    <td>@p.Categoryid</td>
                    <td>@p.Supplierid</td>
                    <td>@p.Unitprice.ToString("C")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.Productid" class="btn btn-warning">Izmeni</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            @for(int i =1;i<=Model.TotalPages;i++){
                <li class="page-item" @(i==Model.CurrentPage? "actitive":"")>
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
